header
    div(id="headerDiv") 
        div(id="homeTitleDiv")
            img(id="tomatoLogo" src="/static/images/tomato_logo.png", alt="tomutoLogo")
            h1(id="homeTitle") 
                a(href="/") Tomuto
        div(id="navDiv")
            span(id="topTracks") 
                a(href="/toptracks") Top Tracks
            span(id="popstar")
                a(href="/popstar") Pop Star
            span(id="kPop")
                a(href="/kpop") K-POP
            
            div(id="userDiv")
                .user
                    if loggedIn
                        .userImage
                            img(src="/static/images/defaultUserImg.png")
                        .userNickname=loggedInUser.nickname
                        .userMenu
                            button(id="loginBtn") 
                                a(href="/user/logout") logout
                            button(id="loginBtn")
                                a(href="/myplaylist") my playlist
                    else
                        .userImage
                            img(src="/static/images/defaultUserImg.png")
                        .userNickname Guest
                        .userMenu
                            button(id="loginBtn")
                                a(href="/login") login
                            button(id="loginBtn")
                                a(href="/register") register


